aiohttp==3.8.3
aiosignal==1.3.1
asgiref==3.7.2
async-timeout==4.0.2
attrs==22.2.0
bidict==0.22.1
certifi==2023.5.7
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
coloredlogs==15.0.1
dnspython==2.3.0
eventlet==0.33.3
Flask==2.2.2
Flask-Cors==3.0.10
Flask-SocketIO==5.3.4
Flask-WTF==1.1.1
frozenlist==1.3.3
greenlet==2.0.2
gunicorn==21.2.0
humanfriendly==10.0
idna==3.4
is-disposable-email==1.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
multidict==6.0.4
numpy
packaging==23.1
psycopg2==2.9.5
PuLP==2.7.0
pyreadline3==3.4.1
python-engineio==4.4.1
python-socketio==5.8.0
requests==2.30.0
scipy
urllib3==2.0.2
Werkzeug==2.2.2
WTForms==3.0.1
wtforms-validators==1.0.0
yarl==1.8.2