{% extends "base.html"%}
{% block content %}
<div class="container">
    {% if message['message_type'] != 'start' %}
        <p class="lead text-center">La compétition {{ message['title'] }} a démarré !</p>
        <p>{{ message["description"] }}</p>
        {% if propositions['terminated'] == False %}
            {% if message['mechanism'] == 'SAA' or message['mechanism'] == 'SDA' %}
                <div class="album py-5 bg-body-tertiary">
                    <div class="container">
                
                        <div class="row justify-content-evenly">
                            {% for i in goods_image %}
                                {% if i['good_name'] in still_to_sell %}
                                    <!-- <p>{{ still_to_sell}}</p> -->
                                    <div class="col-3">
                                        <div class="card shadow-sm">
                                        <img class="bd-placeholder-img card-img" width="50%" height="50%" src="data:image/png;base64,{{ i['good_image'] }}" />
                                            <!-- <svg class="bd-placeholder-img card-img-top" width="50%" height="50%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                                        <div class="card-body">
                                            <div class="row justify-content-between">
                                            <div class="col-4">
                                                <p class="card-text">{{i['good_name']}}</p>
                                            </div>
                                            <div class="col-4">
                                                <p class="card-text">{{propositions['price']}} €</p>
                                            </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="container">
                    <form id="force-ready" method="POST">
                        <input class="btn btn-primary" type="submit" value="Prochaine étape"/>
                    </form>
                </div>
            {% else %}
                <div class="album py-5 bg-body-tertiary">
                    <div class="container">
                
                        <div class="row justify-content-evenly">
                            {% for i in goods_image %}
                                {% if i['good_name'] in still_to_sell %}
                                    <!-- <p>{{ still_to_sell}}</p> -->
                                    <div class="col-3">
                                        <div class="card shadow-sm">
                                        <img class="bd-placeholder-img card-img" width="50%" height="50%" src="data:image/png;base64,{{ i['good_image'] }}" />
                                            <!-- <svg class="bd-placeholder-img card-img-top" width="50%" height="50%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                                        <div class="card-body">
                                            <div class="row justify-content-center">
                                                <div class="col">
                                                    <p class="card-text">{{i['good_name']}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="container">
                    <form id="force-ready" method="POST">
                        <input class="btn btn-primary" type="submit" value="Prochaine étape"/>
                    </form>
                </div>
            {% endif %}
        {% else %}
            <p>La compétition {{ message['title'] }} est terminée !</p>
            {% if len_active_auctions > 1 and sequential %}
                <form id="goto-preliminary" method="POST">
                    <input class="btn btn-primary" type="submit" value="Résultats préliminaires"/>
                </form>
            {% else %}
                <form id="goto-final" method="POST">
                    <input class="btn btn-primary" type="submit" value="Résultats finaux"/>
                </form>
            {% endif %}
        {% endif %}
    {% else %}
        <p class="lead text-center">La compétition a démarré</p>
    {% endif %}
</div>
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
<script type="text/javascript">
    var socket_manager = io.connect('http://localhost:9000');

    socket_manager.on('reload', function(msg) {
        location.reload();
    });

    socket_manager.on('redirect', function(data) {
        window.location.href = data.url;
    });

    $('#force-ready').on('submit', function(event) {
        event.preventDefault();
        socket_manager.emit('force_ready', 'force_ready');
    });

    $('#next-auction').on('submit', function(event) {
        event.preventDefault();
        socket_manager.emit('next_auction', 'next_auction');
    });

    $('#back-to-home').on('submit', function(event) {
        event.preventDefault();
        socket_manager.emit('back_to_home', 'back_to_home');
    });

    $('#goto-preliminary').on('submit', function(event) {
        event.preventDefault();
        window.location.href = 'http://localhost:9000/' + 'preliminary-results';
    });

    $('#goto-final').on('submit', function(event) {
        event.preventDefault();
        window.location.href = 'http://localhost:9000/' + 'final-results';
    });
</script>
{% endblock %}
