{% extends "base.html" %}
{% block content %}
  <div class="container">
    <p class="lead text-center">Choisissez l'enchère que vous voulez lancer</p>

    <form id="start-auction" method='POST'>
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
      {{form.competition_id(class="form-select")}}
      {{ form.submit(class="btn btn-primary")}}
    </form>
    <br />
    <p class="lead text-center">Les enchérisseurs</p>
    <ul id="bidders-list"></ul>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    <script>
      var socket_manager = io.connect('http://localhost:9000');
      // socket_manager.on('reload', function(msg) {
      //   location.reload();
      // });
      // socket_manager.on('redirect', function(data) {
      //     window.location.href = data.url;
      // });
      let bidders = [];
      socket_manager.on('agent_id', function(message) {
        if (!bidders.includes(message)) {
          bidders.push(message);
          updateBiddersList();
        }
      });

    updateBiddersList = () => {
        const biddersList = document.getElementById("bidders-list");
        biddersList.innerHTML = "";

        bidders.forEach((bidder) => {
          const listItem = document.createElement("li");
          listItem.textContent = bidder;
          biddersList.appendChild(listItem);
        });
      }
    </script>
  </div>
{% endblock %}
